{% extends "base.html" %}
{% block title%}Dashboard{% endblock%}
{% block content%}

<body
    style="background-image: url(/static/assets/img/dash-bg-01.jpg);background-repeat: no-repeat;background-size:cover;background-color:lightgrey;">


    <div style="height: 400px;margin-top: 2%;">
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4" style="height: 20%;margin-left: 10%;">

                <div class="col-sm-2 col-xl-3" style="margin-left: 10%;">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-2"
                        style="background-image: url(/static/assets/images\ \(2\).jpeg);background-size: cover;">
                        <i class="fa fa-chart-bar fa-3x text-primary" style="font-size: medium;"></i>
                        <div class="ms-3">
                            <p class="mb-2" style="color: #F28123;font-size: 90%;font-weight: bolder;">Sales Today</p>
                            <h6 class="mb-0">KSH. {{sal_td}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-2"
                        style="background-image: url(/static/assets/images\ \(1\).jpeg);background-size: cover;background-image: red;">
                        <i class="fa fa-chart-bar fa-3x text-primary" style="font-size: medium;"></i>
                        <div class="ms-3">
                            <p class="mb-2" style="font-size: 90%;color: #F28123;font-weight: bolder;">Profit Today</p>
                            <h6 class="mb-0">KSH. {{p}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-2"
                        style="background-image: url(/static/assets/images\ \(4\).jpeg);background-size: cover;background-image: red;">
                        <i class="fa fa-chart-bar fa-3x text-primary" style="font-size: medium;"></i>
                        <div class="ms-3">
                            <p class="mb-2" style="font-size: 90%;color: #F28123;font-weight: bolder;">Monthly Profit</p>
                            <h6 class="mb-0">KSH.{{sm_summ}}</h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 col-xl-3">
                    <div class="bg-light rounded d-flex align-items-center justify-content-between p-2"
                        style="background-image: url(/static/assets/images\ \(4\).jpeg);background-size: cover;background-image: red;">
                        <i class="fa fa-chart-bar fa-3x text-primary" style="font-size: medium;"></i>
                        <div class="ms-3">
                            <p class="mb-2" style="font-size: 90%;color: #F28123;font-weight: bolder;">Monthly Sales</p>
                            <h6 class="mb-0">KSH.{{pr_mn}}</h6>
                        </div>
                    </div>
                </div>
                

                



            </div>
        </div>


        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Day Analytics</h6>
                        <canvas id="line-chart"></canvas>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-6">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Product Analytics</h6>
                        <canvas id="barchart"></canvas>
                    </div>
                </div>
            </div>



        </div>
        <!-- Sale & Revenue End -->

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

    <script>
        // Data
        var products = ['Product A', 'Product B', 'Product C', 'Product D'];
        var sales = [5000, 7000, 4000, 6000];
        var profits = [2000, 3000, 1500, 2500];

        // Chart.js
        var ctx = document.getElementById('barchart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: {{name | safe}},
                datasets: [{
                    label: 'Profit',
                    data: {{profit_product | safe}},
                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                },
                {
                    label: 'Sales',
                    data: {{sale_product | safe}},
                    backgroundColor: 'rgba(255, 99, 132, 0.5)',
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Sales and Profit per Product'
                }
            }
        });



         // Data
         var products = ['Product A', 'Product B', 'Product C', 'Product D'];
        var sales = [5000, 7000, 4000, 6000];
        var profits = [2000, 3000, 1500, 2500];

        // Chart.js
        var ctx = document.getElementById('line-chart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{day | safe}},
                datasets: [{
                    label: 'Sales',
                    data: {{sale_day | safe}},
                    fill: false,
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 2
                },
                {
                    label: 'Profit',
                    data: {{profit_day | safe}},
                    fill: false,
                    borderColor: 'rgba(255, 99, 132, 1)',
                    borderWidth: 2
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                },
                title: {
                    display: true,
                    text: 'Sales and Profit per Product'
                }
            }
        });


    </script>
    </div>
</body>

{% endblock%}